<input type="hidden" name="referrer" value="<%= request.referrer %>" />
<input type="hidden" name="order_item_id" value="<%= @item.id %>" />
<label>Vendor</label>
<input type="text" name="vendor" id="edit-vendor" value="<%= CGI.escapeHTML(@item.order.vendor_name) rescue "" %>" />
<label>Quantity</label>
<input type="text" name="quantity" value="<%= @item.quantity %>" />
<label>Part Number</label>
<input type="text" name="part_number" value="<%= CGI.escapeHTML(@item.part_number) %>" />
<label>Description</label>
<input type="text" name="description" value="<%= CGI.escapeHTML(@item.description) %>" />
<label>Unit Cost</label>
<input type="text" name="unit_cost" value="<%= "$%.2f" % @item.unit_cost %>" />
<label>Requested By</label>
<input type="text" name="requested_by" readonly value="<%= @user.first_name %> <%= @user.last_name %>">
<label>Link</label>
<input type="text" name="link" value="<%= CGI.escapeHTML(@item.link) %>" />
<label>Reason</label>
<textarea name="reason" rows="5" cols="40" ><%= CGI.escapeHTML(@item.reason) %></textarea>
<br>
<input type="submit" class="btn btn-primary btn-small" value="Save" />
<a href="<%= request.referrer %>" class="btn btn-primary btn-small">Cancel</a>
<a href="<%= request.referrer %>" class="btn btn-danger btn-small">Delete</a>

