<%= erb :header %>

<link href="/css/jsgantt.css" rel="stylesheet" type="text/css"/>
<script src="/js/jsgantt.js" type="text/javascript"></script>

<div class="container">
    <div class="row">
        <div class="span2">
            <h2 id="project_name">
                <a href="/projects/<%= @project.id %>" id="project"><%= @project.name.gsub(" ", "&nbsp;") %></a>
            </h2>
        </div>
    </div>

    <p id="error"></p>

    <div style="position:relative" class="gantt" id="GanttChartDIV"></div>

    <script>

        var g = new JSGantt.GanttChart(document.getElementById('GanttChartDIV'), 'day');

        g.setOptions({
            vCaptionType: 'Complete', // Set to Show Caption : None,Caption,Resource,Duration,Complete,
            vQuarterColWidth: 36,
            vDateTaskTableDisplayFormat: 'mm/dd/yyyy',
            vDateTaskDisplayFormat: 'day month dd yyyy', // Shown in tool tip box
            vDayMajorDateDisplayFormat: 'mon yyyy - Week ww', // Set format to dates in the "Major" header of the "Day" view
            vWeekMinorDateDisplayFormat: 'mon dd', // Set format to display dates in the "Minor" header of the "Week" view
            vLang: 'en',
            vShowTaskInfoLink: 1, // Show link in tool tip (0/1)
            vShowEndWeekDate: 0, // Show/Hide the date for the last day of the week in header for daily
            vTooltipDelay: 300,  // How long to show info after removing mouse hover
            /*vAdditionalHeaders: { // Add data columns to your table
                subteam: {
                    title: 'Subteam'
                },
                assignee: {
                    title: 'Assignee'
                }
            },*/
            vUseSingleCell: 10000, // Set the threshold cell per table row (Helps performance for large data.
            vFormatArr: [
                'Day', 'Week', 'Month', 'Quarter'
            ], // Even with setUseSingleCell using Hour format on such a large chart can cause issues in some browsers,
        });

        // Load from a Json url
        //JSGantt.parseJSON('/fixes/data.json', g);

      <% mileData = DB.fetch("SELECT COUNT(*) FROM milestones WHERE project_id = ? LIMIT 1;", @project.id).first %>
      <% numMiles = mileData[:"COUNT(*)"].to_i %>
      <% mileRow = 0 %>
      <% colors = ["gtaskblue", "gtaskred", "gtaskpink", "gtaskgreen", "gtaskpurple", "gtaskyellow"] %>

      <% if numMiles != 0 %>

          <% Milestone.each do |milestone|
            if milestone.project_id == @project.id %>
              g.AddTaskItemObject({
                pID: <%= milestone.id %>,
                pName: "<%= (milestone.name).upcase %>",
                pStart: "",
                pEnd: "",
                pPlanStart: "",
                pPlanEnd: "",
                pClass: "ggroupblack",
                pLink: "",
                pMile: 0,
                pRes: "",
                pComp: "",
                pGroup: 1,
                pParent: 0,
                pOpen: 1,
                pDepend: "",
                pCaption: "",
                pLink: "/milestones/<%= milestone.id %>",
                pNotes: `<%= milestone.notes %>`,
                category: "",
                sector: ""
              });

              <% Task.each do |task|
                if task.project_id == @project.id && task.milestone_id == milestone.id %>
                  g.AddTaskItemObject({
                      pID: <%= task.id %>,
                      pName: "<a href='/tasks/<%= task.id %>' target='_blank'><%= task.name %> (<%= task.sub_name %>)</a>",
                      pStart: "<%= task.start_date.to_s[0,4] %>-<%= task.start_date.to_s[5,7] %>-<%= task.start_date.to_s[8,9] %>",
                      pEnd: "<%= task.deadline.to_s[0,4] %>-<%= task.deadline.to_s[5,7] %>-<%= task.deadline.to_s[8,9] %>",
                      pPlanStart: "",
                      pPlanEnd: "",
                      pClass: "<%= colors[mileRow % colors.length] %>",
                      pLink: "",
                      pMile: 0,
                      pRes: "<%= task.assignee[0,task.assignee.index(' ') + 2] %>",
                      pComp: <%= task.per_comp %>,
                      pGroup: 0,
                      pParent: <%= task.milestone.id %>,
                      pOpen: 1,
                      pDepend: <%= task.dep_task_id ? task.dep_task_id : "\"\"" %>,
                      pCaption: "",
                      pLink: "/tasks/<%= task.id %>",
                      pNotes: `<%= task.notes %>`,
                      category: "",
                      sector: ""
                  });
                <% end %>
              <% end %>
              <% mileRow = mileRow + 1 %>
            <% end %>
          <% end %>
      <% else %>
        document.getElementById('error').innerHTML = "No milestones found for this project.";
      <% end %>

        g.Draw();
    </script>

    <style>
        #project_name a {
            color: #333333;
        }
    </style>
</div>

<%= erb :footer %>
