<%= erb :header %>

<div class="container">
  <h2>Create New <%= @type.capitalize %></h2>
  
  <% if DB.fetch("SELECT COUNT(*) FROM milestones WHERE project_id = ? LIMIT 1;", @project.id).first[:"COUNT(*)"].to_i == 0 %>
    <p>No milestones found for this project. Please go create one before creating a part/assembly.</p>
    <a href="/projects/<%= @project.id %>">&larr;Back to project</a>
  <% else %>
  
  <form action="/parts" method="POST">
    <input type=hidden name=type value="<%= @type %>" />
    
    <label>Project</label>
    <input type="text" disabled value="<%= @project.name %>" />
    <input type="hidden" name="project_id" value="<%= @project.id %>" />
    
    <label><%= @type.capitalize %> Name</label>
    <input type="text" name="name" />
    
    <label>Parent Assembly</label>
    <select name="parent_part_id">
      <% @project.parts.select { |p| p.type == "assembly"}.each do |part| %>
      <option value="<%= part.id %>"<% if part.id == @parent_part_id.to_i %> selected<% end %>>
        <%= part.full_part_number %> - <%= part.name %>
      </option>
      <% end %>
    </select>

    <label>Milestone</label>
    <select name="milestone_id">
      <% if Milestone.where(:project_id => @project.id).empty? %>
        <option value="-1">
          "No milestones found"
        </option>
      <% else
        Milestone.where(:project_id => @project.id).each do |milestone| %>
        <option value="<%= milestone.id %>">
          <%= milestone.name %>
        </option>
        <% end %>
      <% end %>
    </select>

    <label>Assignee</label>
    <select name="assignee">
      <option value="" selected disabled hidden>Select assignee</option>
      <% User.where(:enabled => 1).order_append(:last_name).order_append(:first_name).each do |user| %>
      <option value="<%= user.first_name %> <%= user.last_name %>">
        <%= user.first_name %> <%= user.last_name %>
      </option>
      <% end %>
    </select>
    
    <label>
      <input type="submit" class="btn btn-success btn-medium" value="Create <%= @type.capitalize %>">
    </label>
  </form>
  <% end %>
</div>

<%= erb :footer %>
