<%= erb :header %>

<div class="container">
  <h2>Create New Task</h2>

  <% if DB.fetch("SELECT COUNT(*) FROM milestones WHERE project_id = ? LIMIT 1;", @project.id).first[:"COUNT(*)"].to_i == 0 %>
    <p>No milestones found for this project. Please go create one before creating a task.</p>
    <a href="/projects/<%= @project.id %>">&larr;Back to project</a>
  <% else %>
  <form action="/tasks" method="POST">
    <label>Task Name</label>
    <input type="text" name="name" />

    <!-- Parent Project -->
    <label>Project</label>
    <input type="text" disabled value="<%= @project.name %>" />
    <input type="hidden" name="project_id" value="<%= @project.id %>" />
 
    <!-- Change assignee -->
    <label>Assignee</label>
    <select name="assignee">
      <option value="" selected disabled hidden>Select assignee</option>
      <% User.where(:enabled => 1).order_append(:last_name).order_append(:first_name).each do |user| %>
      <option value="<%= user.first_name %> <%= user.last_name %>">
        <%= user.first_name %> <%= user.last_name %>
      </option>
      <% end %>
    </select>

    <!-- Choose subteam -->
    <label>Subteam</label>
    <select name="subteam">
      <% Subteam.each do |subteam| %>
      <option value="<%= subteam.name %>">
        <%= subteam.name %>
      </option>
      <% end %>
    </select>    

    <label>Milestone</label>
    <select name="milestone_id">
      <% if Milestone.where(:project_id => @project.id).empty? %>
        <option value="-1">
          "No milestones found"
        </option>
      <% else
        Milestone.where(:project_id => @project.id).each do |milestone| %>
        <option value="<%= milestone.id %>">
            <%= milestone.name %>
        </option>
        <% end %>
      <% end %>
    </select>

    <label>Start Date</label>
    <input type="text" <% unless @user.can_edit? %>disabled <% end %>class="datepicker" data-date-format="yyyy-mm-dd" name="start_date" value="<%= @task.start_date.strftime("%F") rescue "" %>"/>

    <label>Deadline</label>
    <input type="text" <% unless @user.can_edit? %>disabled <% end %>class="datepicker" data-date-format="yyyy-mm-dd" name="deadline" value="<%= @task.deadline.strftime("%F") rescue "" %>"/>

    <label>Notes</label>
    <textarea name="notes" rows="4"></textarea>
    <label><input type="submit" class="btn btn-success btn-medium" value="Create Task"></label>
  </form>
  <% end %>
</div>

<%= erb :footer %>
