<%= erb :header %>

<div class="container">
  <div class="row">
    <div class="span2">
        <b><h3><% if @subteam.name == "AdditiveMan" %>
                        Additive&nbsp;Manufacturing
                    <% else %> 
                        <%= @subteam.name %> 
                    <% end %>
            </h3>&nbsp;All&nbsp;Tasks</b>
    </div>
    <form action="/subteams/<%= @subteam.name %>/new_task" method="POST">
    <input type="hidden" value="<%= @subteam.name %>" name="subteam" />
    </form>
    </div>

    <table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>Name</th>
        <th>Project</th>
        <th>Milestone</th>
        <th>Deadline</th>
        <th style="width: 40%;">Notes</th>
        <th>Action</th>
    </tr>
    <% Task.order(:deadline).each do |task| %>
        <% if task.sub_name == @subteam.name %>
            <tr>
                <td><a href="/tasks/<%= task.id %>"><%= task.name %></a></td>
                <td><a href="/projects/<%= task.project_id %>"><%= Project[task.project_id].name %></a></td>
                <td>
                  <% if task.milestone.nil? || task.milestone_id == 0 %>
                    None 
                  <% else %>
                    <a href="/milestones/<%= task.milestone_id %>"><%= task.milestone.name %></a> 
                  <% end %>
                </td>
                <td><%= task.deadline %></td>
                <td><%= task.notes %></td>
                
                <!-- Edit or delete -->
                <% if @user.can_edit? %>
                  <td>
                      <a href="/tasks/<%= task.id %>/edit" class="btn btn-primary btn-small">
                      <i class="icon-white icon-pencil"></i>
                    </a>
                    <a href="/tasks/<%= task.id %>/delete" class="btn btn-danger btn-small">
                      <i class="icon-white icon-trash"></i>
                    </a>
                  </td>
              <% end %>
            </tr>
            <% end %>
    <% end %>
  </div>
</div>

<%= erb :footer %>

