<%= erb :header %>

<div class="container">
  <h2>Edit Task</h2>
  <form action="" method="POST">
    <input type="hidden" name="referrer" value="<%= @referrer %>" />
    <label>Task Name</label>
    <input type="text" name="name" value="<%= @task.name %>"/>

    <!-- Parent Project -->
    <label>Project</label>
    <input type="text" disabled value="<%= @task.project.name %>" />
    <input type="hidden" name="project_id" value="<%= @task.project_id %>" />

    <!-- Change assignee -->
    <label>Assignee</label>
    <select name="assignee">
      <% User.where(:enabled => 1).order_append(:last_name).order_append(:first_name).each do |user| %>
        <option value="<%= user.first_name %> <%= user.last_name %>" <% if @task.assignee == (user.first_name + " " + user.last_name) %> selected<% end %>>    
          <%= user.first_name %> <%= user.last_name %>
        </option>
      <% end %>
    </select>

    <!-- Update Completion Percentage -->
    <label>Percent Complete</label>
    <input type="number" name="per_comp" value="<%= @task.per_comp %>" min="0" max="100">

    <!-- Dependent Task -->
    <label>Dependent Task</label>
    <select name="dep_task_id">
      <option value="" selected>None</option>
      <% Task.each do |task|
        if @task.project_id == task.project_id %>
          <option value="<%= task.id %>" <% if @task.dep_task_id && @task.dep_task_id == task.id %> selected<% end %>>
            <%= task.name %>
          </option>
        <% end %>
      <% end %>
    </select>

    <!-- Choose subteam -->
    <label>Subteam</label>
    <select name="subteam">
      <% Subteam.each do |subteam| %>
        <option value="<%= subteam.name %>" <% if @task.sub_name == subteam.name %> selected<% end %>>
          <%= subteam.name %>
        </option>
      <% end %>
    </select>    

    <label>Milestone</label>
    <select name="milestone_id">
      <% Milestone.where(:project_id => @task.project_id).each do |milestone| %>
          <option value="<%= milestone.id %>" <% if @task.milestone_id == milestone.id %> selected <% end %>>
        <%= milestone.name %>
      </option>
      <% end %>
    </select>

    <label>Start Date</label>
    <input type="text" <% unless @user.can_edit? %>disabled <% end %>class="datepicker" data-date-format="yyyy-mm-dd" name="start_date" value="<%= @task.start_date.strftime("%F") rescue "" %>"/>

    <label>Deadline</label>
    <input type="text" <% unless @user.can_edit? %>disabled <% end %>class="datepicker" data-date-format="yyyy-mm-dd" name="deadline" value="<%= @task.deadline.strftime("%F") rescue "" %>"/>

    <label>Notes</label>
    <textarea name="notes" rows="4"><%= @task.notes %></textarea>
    <label><input type="submit" class="btn btn-primary btn-medium" value="Save Task"></label>
  </form>
</div>

<%= erb :footer %>
